*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gitignore
.idea/codeStyles/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/.gitignore
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
softfingerprint/libs/
softfingerprint/src/androidTest/
softfingerprint/src/main/res/drawable-hdpi/
softfingerprint/src/main/res/drawable-mdpi/
softfingerprint/src/main/res/drawable-xhdpi/
softfingerprint/src/main/res/drawable-xxhdpi/
softfingerprint/src/main/res/drawable-xxxhdpi/
softfingerprint/src/main/res/drawable/
softfingerprint/src/test/
