<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.softfingerprint">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-feature android:name="android.hardware.fingerprint" />

</manifest>
